
#main-bg{
	width: 100%;
	height: 6000px;
	background: url('../images/Layer-5.png') no-repeat;
	position: relative;
  z-index: 1;
}

body {
  font-family: 'Montserrat';
}

.text-vertical-center > h1 {
  font-size: 48px;
  color: rgb(255, 255, 255);
  line-height: 1.458;
  margin-top: 105px;
  font-weight: normal;
}

.name {
  color: rgb(42, 93, 163);
}


.clear-button {
  font-size: 14px;
  font-weight: bold;
  border-style: solid;
  line-height: 2.5;
  border-width: 2px;
  border-radius: 25px;
  border-color: rgb(21, 59, 109);
  background-color: Transparent;
  width: 194px;
  height: 54px;
}

.clear-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(21, 59, 109);
  transition: all 0.5s;
}

.logo {
  margin-left: 100px;
  margin-top: 60px;
  width: 83px;
  height: 67px;
  display: inline-block;
}

.logo-title {
  display: inline-block;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.333;
  margin-top: 60px;
  position: absolute;
  margin-left: 10px;
}

.clear-toggle {
  background-color: transparent;
  color: rgb(42, 94, 164);
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 70px;
  margin-right: 100px;
}

.btn:hover.clear-toggle:hover {
  color: rgb(42, 94, 164)
}

.explore {
  margin-top: 200px;
  position: absolute;

}

.explore > img{
    margin:5px;
    z-index: 3;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

#sound {
  width: 100%;
  height: 100%;
  background: url('../images/sound-wave.png') no-repeat;
  z-index: 2;
  margin-top: 150px;
}


